body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  color: #252525;
}

a {
  text-decoration: none;
  color: #252525;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 10px;
  text-align: center;
}

.btn {
  text-transform: uppercase;
  margin: 35px auto;
  padding: 10px;
  border: 1px solid rgba(0,0,0,.29);
  cursor: pointer;
  background: #fff;
  font-size: 16px;
  width: 250px;
  position: relative;
}

.btn:hover {
  border-color: rgba(0,0,0,.5);
  text-decoration: none;
}

.btn:focus {
  outline: 0;
  font-weight: 700;
  border-width: 2px;
}

.center {
  text-align: center;
}

.active {
  font-weight: bold;
}

.nav ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  text-decoration: none;
}

.nav li:first-child {
  padding-left: 0;
}

ul {
  padding-left: 0;
}

li {
  list-style-type: none;
  padding: 10px;
  text-decoration: none;
}

.avatar {
  height: 50px;
  border-radius: 25px;
  margin: 10px;
}

.question {
  background-color: wheat;
  width: 100%;
  max-width: 590px;
  padding: 10px;
  display: flex;
  margin: 0 auto;
  border: 1px solid #dad7d7;
  border-radius: 3px;
  cursor: pointer;
  text-align: left;
}

.tab {
  background-color:#f0f0f0
}

.question-info {
  margin: 10px;
  display: flex;
  flex-direction: column;
}

.question-info > div > span:first-child {
  font-weight: bold;
  margin-right: 5px;
}
.question-info > div > span:nth-child(2) {
  color: #969696;
  font-size: 16px;
}
.question-info > div > div {
  color: #969696;
  font-size: 15px;
}
.question-info > div > p {
  font-size: 18px;
  margin: 10px 0;
}
.question-icons {
  display: flex;
  align-items: center;
}
.question-icons > span {
  color: #969696;
  margin: 0 15px 0 5px;
  font-size: 18px !important;
}
.question-icon {
  font-size: 27px;
  color: #697784;
}
.question-icon:hover {
  color: #00b5d6;
  cursor: pointer;
}

.new-question {
  width: 100%;
  max-width: 590px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.textarea {
  border-radius: 4px;
  border: 1px solid #dad7d7;
  padding: 10px;
  font-size: 15px;
  height: 100px;
}

.question-length {
  text-align: right;
  margin-top: 10px;
  font-size: 20px;
  color: #C3392A;
}

.form{

  background-color: wheat;
  color:#3d2814;
  display: inline-table;
  border-radius: 20%;
  padding: 10px 60px 10px 60px;
  width: auto;
}


.dropdown {
  font-size: 16px;
  color:#3d2814;
  background-color: wheat;
}

.button {
  background-color:#654321;
  color: wheat;
  padding: 10px;
  border-radius: 20%;
  font-size: 16px;
  margin: 10px;
}

.button:disabled {
  background-color: thistle;
  color: gray;
}

.button:hover {
  color: #654321;
  background-color: white;
}
.nav-bar {
  padding: 20px;
}

.nav-item {
  text-decoration: none;
  color: wheat;
  background-color: #654321;
  padding: 40px;
}

.nav-item:hover {
  background-color: darkslategray
}

.nav-item:focus {
  background-color: darkolivegreen;
}

#welcome {
  background-color: rgb(226, 92, 43);
  padding: 30px;
  color: wheat;
  font-weight: bold;
}

.header {
  background-color: #654321;
  color: wheat;
  text-align: center;
  margin: 0px;
}

.back-ground {
  background-color: wheat;
  color: #654321;
  margin: 0px;
}

.not-found {
background-color: darkred;
margin: 0px;
padding: 20px;
font-size:xx-large;
text-align: center;
color: white;
}

.your-answer {
  background-color: white;
  width:100%;
  text-align: center;
  padding: 0%;
}